{% extends "posApp/base.html" %} {% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Credit Sales</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-primary" id="dataTable">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="12%">
                    <col width="12%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <thead class="table-secondary">
                    <tr>
                        <th class="text-center py-1">Invoice</th>
                        <th class="text-center py-1"><i class="fas fa-user"></i> Customer</th>
                        <th class="text-center py-1"><i class="fas fa-calendar-alt"></i> DateTime</th>
                        <th class="text-center py-1">Sale</th>
                        <th class="text-center py-1">Total Amount</th>
                        <th class="text-center py-1">Remaining Amount</th>
                        <th class="text-center py-1">Tax Inclusive</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for credit  in credits %}
                    <tr>
                        <td class="px-2 py-1 text-center"><i class="fas fa-barcode"></i> {{ credit.code }}</td>
                        <td class="px-2 py-1 text-start"><i class="fas fa-user"></i>  {{ credit.sale.customer.name }}</td>
                        <td class="px-2 py-1 text-start"><i class="fas fa-calendar-alt"></i> {{ credit.sale.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-start"><a href="{% url 'saledetails'%}?id={{credit.sale.id}}"><i class="fas fa-receipt"></i> {{ credit.sale.code }}</a></td>
                        <td class="px-2 py-1 text-end">KSH {{ credit.total_amount|intcomma }}</td>
                        <td class="px-2 py-1 text-end">KSH {{ credit.amount|intcomma }}</td>
                        <td class="px-2 py-1 text-end">({{ credit.sale.tax }}%) {{ sale.tax_amount|intcomma:2 }}</td>
                        <td class="px-2 py-1 text-center">
                            <button onclick = "paycredit('{{credit.id}}','{{credit.amount}}','{{credit.customer.name}}')"class="btn btn-primary">
                                <i class = 'fas fa-add'></i>Pay
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="{{ sale.id }}" title="View Receipt">
                                <i class="material-icons mdc-button__icon">receipt</i>
                            </button>
                            <button class="btn btn-danger btn-sm delete-data" type="button" data-id="{{ sale.id }}" data-code="{{ sale.code }}" title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
var creditamount = 0;
var credit = null;
function paycredit(id,amount,customer){
    creditamount = amount;
    credit = id;
    $('#creditpayModal').modal('show')
    document.getElementById('creditcustomer').innerHTML = customer;
    document.getElementById('creditamount').value = amount;
}
function submitcredit(){
    $('#creditpayModal').modal('hide');
    var enteredAmount = parseFloat(document.getElementById('creditamount').value);

    if (enteredAmount > creditamount || enteredAmount < 1) {
        alert('Please enter an amount less than the total amount and greater than 0');
    }
    else{
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'paycredit' %}",
            method: "POST",
            data: {
                amount: document.getElementById('creditamount').value ,
                id : credit,
                method: document.getElementById('paymentmethod').value
                
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
}
    $(function() {
        $('.view-data').click(function() {
            uni_modal("Transaction's Receipt", "{% url 'receipt-modal' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete <b>" + $(this).attr('data-code') + "</b> Transaction record?", "delete_sale", [$(this).attr('data-id')])
        })

    })

    function delete_sale($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-sale' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}