/* TABLETS */

@media (max-width: 1024px) {
    [dir="rtl"] .colMS {
        margin-right: 0;
    }

    [dir="rtl"] #user-tools {
        text-align: right;
    }

    [dir="rtl"] #changelist .actions label {
        padding-left: 10px;
        padding-right: 0;
    }

    [dir="rtl"] #changelist .actions select {
        margin-left: 0;
        margin-right: 15px;
    }

    [dir="rtl"] .change-list .filtered .results,
    [dir="rtl"] .change-list .filtered .paginator,
    [dir="rtl"] .filtered #toolbar,
    [dir="rtl"] .filtered div.xfull,
    [dir="rtl"] .filtered .actions,
    [dir="rtl"] #changelist-filter {
        margin-left: 0;
    }

    [dir="rtl"] .inline-group ul.tools a.add,
    [dir="rtl"] .inline-group div.add-row a,
    [dir="rtl"] .inline-group .tabular tr.add-row td a {
        padding: 8px 26px 8px 10px;
        background-position: calc(100% - 8px) 9px;
    }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 98751f7 (admin static files)
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
>>>>>>> c5b4b76 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
=======
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)
    [dir="rtl"] .related-widget-wrapper-link + .selector {
        margin-right: 0;
        margin-left: 15px;
    }

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> c25daed (change)
=======
=======
>>>>>>> c5b4b76 (admin static files)
=======
>>>>>>> 76a1a11 (admin static files)
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> a420006 (production settings)
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
>>>>>>> c25daed (change)
>>>>>>> b57a7f8 (admin static files)
<<<<<<< HEAD
>>>>>>> c5b4b76 (admin static files)
=======
=======
>>>>>>> c25daed (change)
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> a420006 (production settings)
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)
    [dir="rtl"] .selector .selector-filter label {
        margin-right: 0;
        margin-left: 8px;
    }

    [dir="rtl"] .object-tools li {
        float: right;
    }

    [dir="rtl"] .object-tools li + li {
        margin-left: 0;
        margin-right: 15px;
    }

    [dir="rtl"] .dashboard .module table td a {
        padding-left: 0;
        padding-right: 16px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> c5b4b76 (admin static files)
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 98751f7 (admin static files)
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bca57da (change)
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
>>>>>>> c5b4b76 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
=======
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)

    [dir="rtl"] .selector-add {
        background-position: 0 -80px;
    }

    [dir="rtl"] .selector-remove {
        background-position: 0 -120px;
    }

    [dir="rtl"] .active.selector-add:focus, .active.selector-add:hover {
        background-position: 0 -100px;
    }

    [dir="rtl"] .active.selector-remove:focus, .active.selector-remove:hover {
        background-position: 0 -140px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c25daed (change)
=======
=======
>>>>>>> c5b4b76 (admin static files)
=======
>>>>>>> 76a1a11 (admin static files)
<<<<<<< HEAD
>>>>>>> a420006 (production settings)
=======
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
=======
>>>>>>> c25daed (change)
>>>>>>> b57a7f8 (admin static files)
<<<<<<< HEAD
>>>>>>> c5b4b76 (admin static files)
=======
=======
=======
>>>>>>> c25daed (change)
=======
<<<<<<< HEAD
>>>>>>> a420006 (production settings)
=======
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)
}

/* MOBILE */

@media (max-width: 767px) {
    [dir="rtl"] .aligned .related-lookup,
    [dir="rtl"] .aligned .datetimeshortcuts {
        margin-left: 0;
        margin-right: 15px;
    }

    [dir="rtl"] .aligned ul,
    [dir="rtl"] form .aligned ul.errorlist {
        margin-right: 0;
    }

    [dir="rtl"] #changelist-filter {
        margin-left: 0;
        margin-right: 0;
    }
    [dir="rtl"] .aligned .vCheckboxLabel {
        padding: 1px 5px 0 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> c5b4b76 (admin static files)
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 98751f7 (admin static files)
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bca57da (change)
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
>>>>>>> c5b4b76 (admin static files)
=======
=======
>>>>>>> b57a7f8 (admin static files)
=======
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)

    [dir="rtl"] .selector-remove {
        background-position: 0 0;
    }

    [dir="rtl"] .active.selector-remove:focus, .active.selector-remove:hover {
        background-position: 0 -20px;
    }

    [dir="rtl"] .selector-add  {
        background-position: 0 -40px;
    }

    [dir="rtl"] .active.selector-add:focus, .active.selector-add:hover {
        background-position: 0 -60px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c25daed (change)
=======
=======
>>>>>>> c5b4b76 (admin static files)
=======
>>>>>>> 76a1a11 (admin static files)
<<<<<<< HEAD
>>>>>>> a420006 (production settings)
=======
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
<<<<<<< HEAD
>>>>>>> f670750 (admin static files)
=======
=======
=======
>>>>>>> c25daed (change)
>>>>>>> b57a7f8 (admin static files)
<<<<<<< HEAD
>>>>>>> c5b4b76 (admin static files)
=======
=======
=======
>>>>>>> c25daed (change)
=======
<<<<<<< HEAD
>>>>>>> a420006 (production settings)
=======
=======
>>>>>>> c25daed (change)
>>>>>>> bca57da (change)
>>>>>>> c63776d (admin static files)
>>>>>>> f670750 (admin static files)
>>>>>>> 98751f7 (admin static files)
>>>>>>> 76a1a11 (admin static files)
}
